body {
  background: #2f303a;
}

.screen {
  width: 90%;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar CSS */

.primary-text-color {
  color: #fdfdfd;
  font-size: 22px;
  line-height: 26px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: #fdfdfd;
}

.navbar-brand:hover {
  color: #fdfdfd;
  cursor: pointer;
}

.toggler {
  background-color: "white";
}

.active {
  background: white;
  color: black;
}

.profile {
  height: 86px;
  width: 76px;
}

.primary-text-color:hover {
  background: white;
  color: black !important;
  cursor: pointer;
}

/* Navbar CSS Ends */

/*Form CSS */
.patientForm {
  text-align: center;
  width: 415px;
  height: 558px;
  background: #ffffff;
}

.patientForm h1 {
  font-size: 33px;
  line-height: 39px;
  font-weight: bold;
}

.patientForm p {
  font-size: 16px;
  line-height: 19px;
}

.patientForm input {
  border: none;
  background-color: #d3d9e0;
  border-radius: 0;
  border-bottom: 3px solid #f59494;
}

.button {
  width: 100%;
  height: 37px;
  background: #f59494;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
/*Form CSS Ends*/
/* DESCRIPTION */

.desc img {
  width: 584px;
  height: 597px;
  margin-bottom: -150px;
}

.desc p {
  font-size: 20px;
  line-height: 23px;
  color: #fdfdfd;
}
/* DESCRIPTION ENDS*/

/*TABLE CSS */
.table {
  font-size: 20px;
  line-height: 23px;
}
.table th {
  padding: 5px;
  background: #f59494;
}
.table td {
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: #d3d9e0;
}

.table tr:nth-child(odd) {
  background-color: #fdfdfd;
}
